/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

html {
  scroll-behavior: smooth;;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #2d2a24;
}

body {
  margin: 0;
  padding: 0;

  font-family: tenez, helvetica, arial, sans-serif;
  color: #2d2a24;
}

ul {
  padding 0;
  list-style: none;
}

/* Het eerste wat een bezoeker ziet: menu, logo, banner en cta */

.infobar {
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0.3em 1em;
  text-align: center;
  display: inline-block;
  background-color: #00ab84;
  color: white;
  text-decoration: none;
}

header {
  background-color: #F9F0EA;
}

header section {
  margin: 1em;
}

.bannerimage {
  width: 100%;
  top: 0;
}

/*The Sill logo*/

h1 {
  font-family: tenez, helvetica, roboto, arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #2d2a24;
  text-decoration: underline;

  font-size: 2em;
  margin: 0.5em;
  text-align: center;
}

h1 a {
  color: #2d2a24;
}

nav p a {
  text-decoration: none;
  color: #2d2a24;
  top: 0;
  text-align: end;
}

header nav {
  position: relative; 
}

@supports (position: sticky) {
  header nav {
    position: sticky;
    top: 0;
  }
}

nav ul li 
  {
    list-style: none;
    margin: 1em;
  }

nav ul li a {
  text-decoration: none;
  color: #2d2a24;
}

/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2d2a24;
}

.navlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks li {
  list-style: none;
}

.navlinks li a {
  text-decoration: none;
  color: #2d2a24;
  padding: 1em;
  display: block;
}

.navlinks li:hover {
  background-color: #e6f6f3;
}

.toggle-button {
  position: absolute;
  top: 0.75em;
  right: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #2d2a24;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navlinks {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navlinks ul {
    flex-direction: column;
    width: 100%;

  }
  .navlinks ul li {
    text-align: center;
    list-style: none;
  }

  .navlinks li a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #2d2a24;
  }

  .navlinks.active {
    display: flex;
  }
}

*/

header section a {
  text-decoration: none;
}

.cta {
  background-color: #00ab84;
  color: white;
  margin: 1em;
  padding: 1.5em 2em;
  border-radius: 0.1em;
}

/* Main content: collections */

h2 {
  font-family: tenez, helvetica, roboto, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #2d2a24;
  font-size: 3em;
}

.collections li {
  list-style: none;
  margin: 4em 0;
}

.collections li {
  flex-basis: 50%;
}

.readytoship img {
  width:50%;
}

.liveplants {
  width: 50%;
}

.snake {
  width:50%;
}

.bestsellers li {
  list-style: none;
}

.benefits li {
  list-style: none;
}

.invite {
  background-color: #f8f8f7;
}

/* Footer */

.subscribe {
  border: 2px solid;
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
}

@media (min-width: 600px) {
  /*mobile first*/

}

@media (max-width: 600px) {
  /*desktop first*/

}

/* 
a {
  text-decoration: none;
  color: #2d2a24;
}


.class-name: elements can have more classes 
    #id-name: unique across entire website

    li:hover, li:first-child, li:nth-child()