/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

main a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: tenez, helvetica, roboto, arial, sans-serif;
  color: #2d2a24;
}

.infobar {
  width: 100%;
  top: 0;
  padding: 0.3em 1em;
  text-align: center;
  display: inline-block;
  background-color: #00ab84;
  color: white;
}

header {
  background-color: #F9F0EA;
}

.headerbackground {
  width: 100%;
}

h1 {
  font-family: tenez, helvetica, roboto, arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #2d2a24;
  text-decoration: underline;

  font-size: 2em;
  margin: 0.5em;
}

h1 a {
  color: #2d2a24;
}

header nav {
  position: relative; 
}

@supports (position: sticky) {
  header nav {
    position: sticky;
    top: 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2d2a24;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #2d2a24;
  padding: 1em;
  display: block;
}

.navbar-links li:hover {
  background-color: #e6f6f3;
}

.toggle-button {
  position: absolute;
  top: 0.75em;
  right: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #2d2a24;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;

  }
  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5em 1em;
  }

  .navbar-links.active {
    display: flex;
  }
}

.cta {
  background-color: #00ab84;
  color: white;
  margin: 1em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.1em;
}

h2 {
  font-family: tenez, helvetica, roboto, arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #2d2a24;
}

.readytoship {
  width:50%;
}

.liveplants {
  width: 50%;
}

.snake {
  width:50%;
}

.collections li {
    list-style: none;
}

.bestsellers li {
  list-style: none;
}

.benefits li {
  list-style: none;
}

.invite {
  background-color: #f8f8f7;
}

.subscribe {
  border: 2px solid;
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
}

/* 
a {
  text-decoration: none;
  color: #2d2a24;
}


.class-name: elements can have more classes 
    #id-name: unique across entire website

    li:hover, li:first-child, li:nth-child()